{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="blog-pagination extra-pagination inner">
    {{pagination}}
</div>
{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}


    <article class="{{post_class}} single-post">
        <div class="post-meta flex-row column-center">
            {{#if author.image}}
                <div class="author-pic"
                     style="background: url('{{author.image}}'); background-size: cover;
                             background-position: center;"></div>
            {{/if}}
            <div class="author-meta">
                <p class="author-name light-color"><span class="blue-color">{{author}}</span>
                    <span class="post-tags"> {{tags prefix="on&nbsp;"}}</span>
                </p>
                <time class="post-published-date" datetime="{{date format=" YYYY-MM-DD "}}">{{date
                        format="DD MMMM YYYY"}}</time>
            </div>
        </div>
        {{#if image}}
            <div class="post-image" style="background: url('{{image}}'); background-size: cover;
                    background-position: center;"></div>
        {{/if}}
        <div class="post-heading-content padding-15 margin-top-5">
            <p class="post-heading"><a href="{{url}}">{{title}}</a></p>
            <p class="post-content">{{excerpt words="64"}} &raquo;</p>
        </div>
    </article>

{{/foreach}}
{{!-- Previous/next page links - displayed on every page --}}
<div class="blog-pagination">
    {{pagination}}
</div>