<div class="nav">

</div>

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect navigation-tabs">
    <div class="mdl-tabs__tab-bar">
        {{#foreach navigation}}
            <a href="{{url absolute="true"}}"
               class="mdl-tabs__tab nav-{{slug}}{{#if current}} is-active nav-current {{/if}}">{{label}}</a>
        {{/foreach}}
        {{#if @labs.subscribers}}
            <a href="{{@blog.url}}/subscribe/" class="mdl-tabs__tab">Subscribe</a>
        {{else}}
            <a href="{{@blog.url}}/rss/" class="mdl-tabs__tab">Subscribe</a>
        {{/if}}
    </div>
</div>