{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- Everything inside the #author tags pulls data from the author --}}
{{#author}}

    <header class="width-100 header">
        <div class="cover-pic"
            {{#if cover}}
            style="background: url({{cover}}{{else}}no-cover{{/if}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
        </div>
        <div class="other-page-headers flex-row">
            {{#if image}}
                <a href="{{@blog.url}}">
                    <div class="other-page-headers-pic"
                         style="background: url('{{image}}'); background-size: cover;
                                 background-position: center; background-repeat: no-repeat;">
                    </div>
                </a>
            {{/if}}
            <div class="other-page-headers-meta profile-detail-section flex-1 margin-left-15">
                <div>
                    <h1 class="main-heading">{{name}}</h1>
                    <h2 class="main-subheading">
                        {{#if bio}}
                            <h2>{{bio}}</h2>
                        {{/if}}
                    </h2>
                    {{#if location}}<span>{{location}}</span>{{/if}}
                    <span><i></i> {{plural ../pagination.total empty='No posts' singular='% post'
                                           plural='% posts'}}</span>
                </div>
            </div>
        </div>
    </header>
    {{navigation}}
{{/author}}

{{!-- The main content area on the homepage --}}
<main role="main">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
</main>
