{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- If we have a tag cover, display that - else blog cover - else nothing --}}

<header class="width-100 header">
    <div class="cover-pic"
        {{#if tag.image}}
         style="background: url({{tag.image}}); background-size: cover; background-position: center; background-repeat: no-repeat;"
        {{else}} {{#if @blog.cover}}
        style="background: url({{@blog.cover}}); background-size: cover; background-position: center; background-repeat: no-repeat;{{else}}no-cover{{/if}}{{/if}}">
    </div>
    <div class="other-page-headers flex-row">
        {{#if @blog.logo}}
            <a href="{{@blog.url}}">
                <div class="other-page-headers-pic" style="background: url('{{@blog.logo}}'); background-size: cover;
                        background-position: center; background-repeat: no-repeat;">
                </div>
            </a>
        {{/if}}
        <div class="other-page-headers-meta profile-detail-section flex-1 margin-left-15">
            {{#tag}}
                <div>
                    <h1 class="main-heading">{{name}}</h1>
                    <h2 class="main-subheading">
                        {{#if description}}
                            {{description}}
                        {{else}}
                            A {{../pagination.total}}-post collection
                        {{/if}}
                    </h2>
                </div>
            {{/tag}}
        </div>
    </div>
</header>

{{navigation}}

{{!-- The main content area on the homepage --}}
<main role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
